h1{
  color:#cd928c; font-family:Arial;
}
h2{
  color:#cd928c;font-family:Arial; font-size: 22pt
}
h3{
  color:#cd928c; font-family:Arial;font-size: 14pt
}
body {
  background-color:#0F143A; color:white; font-family:Arial
}

a{
  color:white; font-style:italic;; 
}